# Demand Forecasting for Dairy Supply and Inventory
This notebook provides a backend workflow for forecasting demand and optimizing inventory in a dairy supply chain. The goal is to maximize utilization of processing, packaging, and storage capacities, reduce costs, and improve ROI by predicting demand and optimizing inventory levels.

In [219]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [220]:
# Load and Inspect Dataset
df = pd.read_csv('dairy_dataset.csv')
df.head()

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [221]:
# Remove rows with specific brand names
brands_to_remove = [
    'Britannia Industries', 'Dynamix Dairies', 'Passion Cheese',
    'Parag Milk Foods', 'Dodla Dairy', 'Palle2patnam', 'Warana'
]
df = df[~df['Brand'].isin(brands_to_remove)]

In [222]:
# Remove unnecessary columns
drop_cols = ['Location', 'Total Land Area (acres)', 'Number of Cows', 'Farm Size', 'Storage Condition', 'Expiration Date']
df = df.drop(columns=drop_cols, errors='ignore')
print('Remaining columns:', df.columns.tolist())

Remaining columns: ['Date', 'Product ID', 'Product Name', 'Brand', 'Quantity (liters/kg)', 'Price per Unit', 'Total Value', 'Shelf Life (days)', 'Production Date', 'Quantity Sold (liters/kg)', 'Price per Unit (sold)', 'Approx. Total Revenue(INR)', 'Customer Location', 'Sales Channel', 'Quantity in Stock (liters/kg)', 'Minimum Stock Threshold (liters/kg)', 'Reorder Quantity (liters/kg)']

In [223]:
# Inspect dataset columns and sample data
print('Columns:', df.columns.tolist())

Columns: ['Date', 'Product ID', 'Product Name', 'Brand', 'Quantity (liters/kg)', 'Price per Unit', 'Total Value', 'Shelf Life (days)', 'Production Date', 'Quantity Sold (liters/kg)', 'Price per Unit (sold)', 'Approx. Total Revenue(INR)', 'Customer Location', 'Sales Channel', 'Quantity in Stock (liters/kg)', 'Minimum Stock Threshold (liters/kg)', 'Reorder Quantity (liters/kg)']

In [224]:
print('\nData types:')
print(df.dtypes)

Data types:
Date                                    object
Product ID                               int64
Product Name                            object
Brand                                   object
Quantity (liters/kg)                   float64
Price per Unit                         float64
Total Value                            float64
Shelf Life (days)                        int64
Production Date                         object
Quantity Sold (liters/kg)                int64
Price per Unit (sold)                  float64
Approx. Total Revenue(INR)             float64
Customer Location                       object
Sales Channel                           object
Quantity in Stock (liters/kg)            int64
Minimum Stock Threshold (liters/kg)    float64
Reorder Quantity (liters/kg)           float64
dtype: object

In [225]:
# Display all unique values and their count for a specific column
col = "Product Name" 
unique_vals = df[col].unique()
print("Unique values:", unique_vals)
print("Total number of unique values:", len(unique_vals))

Unique values: ['Milk' 'Buttermilk' 'Curd' 'Paneer' 'Lassi' 'Ice Cream' 'Ghee' 'Yogurt'
 'Butter' 'Cheese']
Total number of unique values: 10

In [226]:
# Display all unique values and their count for a specific column
col = "Brand" 
unique_vals = df[col].unique()
print("Unique values:", unique_vals)
print("Total number of unique values:", len(unique_vals))

Unique values: ['Amul' 'Mother Dairy' 'Raj' 'Sudha']
Total number of unique values: 4

In [227]:
# Recalculate Total Value as Quantity (liters/kg) * Price per Unit
df['Quantity in Stock (liters/kg)'] = df['Quantity (liters/kg)'] - df['Quantity Sold (liters/kg)']
df.head()

,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,Total Value,Shelf Life (days),Production Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
1,2021-12-01,1,Milk,Amul,687.48,42.61,29293.5228,22,2021-10-03,558,39.24,21895.92,Kerala,Wholesale,129.48,43.17,181.10
4,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,12390.5145,11,2020-10-17,145,83.07,12045.15,Jharkhand,Retail,2.77,76.02,33.40
5,2019-01-07,6,Curd,Raj,593.92,85.54,50803.9168,5,2019-01-03,74,84.75,6271.50,Gujarat,Retail,519.92,55.60,139.59
7,2019-02-14,9,Paneer,Mother Dairy,203.36,29.08,5913.7088,14,2019-01-06,15,29.09,436.35,Haryana,Online,188.36,10.90,25.14
8,2020-08-02,6,Curd,Raj,949.12,22.79,21630.4448,6,2020-06-06,860,24.77,21302.20,Jharkhand,Wholesale,89.12,85.71,32.03

In [228]:
# Recalculate Total Value as Quantity (liters/kg) * Price per Unit
df['Total Value'] = df['Quantity (liters/kg)'] * df['Price per Unit']
df.head()

,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,Total Value,Shelf Life (days),Production Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
1,2021-12-01,1,Milk,Amul,687.48,42.61,29293.5228,22,2021-10-03,558,39.24,21895.92,Kerala,Wholesale,129.48,43.17,181.10
4,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,12390.5145,11,2020-10-17,145,83.07,12045.15,Jharkhand,Retail,2.77,76.02,33.40
5,2019-01-07,6,Curd,Raj,593.92,85.54,50803.9168,5,2019-01-03,74,84.75,6271.50,Gujarat,Retail,519.92,55.60,139.59
7,2019-02-14,9,Paneer,Mother Dairy,203.36,29.08,5913.7088,14,2019-01-06,15,29.09,436.35,Haryana,Online,188.36,10.90,25.14
8,2020-08-02,6,Curd,Raj,949.12,22.79,21630.4448,6,2020-06-06,860,24.77,21302.20,Jharkhand,Wholesale,89.12,85.71,32.03

In [229]:
# Recalculate Total Value as Quantity (liters/kg) * Price per Unit
df['Approx. Total Revenue(INR)'] = df['Quantity Sold (liters/kg)'] * df['Price per Unit (sold)']
df.head()

,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,Total Value,Shelf Life (days),Production Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
1,2021-12-01,1,Milk,Amul,687.48,42.61,29293.5228,22,2021-10-03,558,39.24,21895.92,Kerala,Wholesale,129.48,43.17,181.10
4,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,12390.5145,11,2020-10-17,145,83.07,12045.15,Jharkhand,Retail,2.77,76.02,33.40
5,2019-01-07,6,Curd,Raj,593.92,85.54,50803.9168,5,2019-01-03,74,84.75,6271.50,Gujarat,Retail,519.92,55.60,139.59
7,2019-02-14,9,Paneer,Mother Dairy,203.36,29.08,5913.7088,14,2019-01-06,15,29.09,436.35,Haryana,Online,188.36,10.90,25.14
8,2020-08-02,6,Curd,Raj,949.12,22.79,21630.4448,6,2020-06-06,860,24.77,21302.20,Jharkhand,Wholesale,89.12,85.71,32.03

In [230]:
import numpy as np

# Define product types for each measurement
kg_products = ['cheese', 'curd', 'butter', 'paneer', 'yogurt']
liter_products = ['ghee', 'milk', 'lassi', 'Buttermilk', 'ice cream']

# Create new columns for quantity in liters and kg
df['Quantity (liters)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(liter_products)),
    df['Quantity (liters/kg)'],
    '-'
)
df['Quantity (kg)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(kg_products)),
    df['Quantity (liters/kg)'],
    '-'
)

# Replace '-' with np.nan or 0
df['Quantity (liters)'] = pd.to_numeric(df['Quantity (liters)'], errors='coerce').fillna(0)
df['Quantity (kg)'] = pd.to_numeric(df['Quantity (kg)'], errors='coerce').fillna(0)

# Optional: Display the first few rows to verify
df[['Product Name', 'Quantity (liters/kg)', 'Quantity (liters)', 'Quantity (kg)']].head()

  Product Name  Quantity (liters/kg)  Quantity (liters)  Quantity (kg)
1         Milk                687.48             687.48           0.00
4   Buttermilk                147.77             147.77         147.77
5         Curd                593.92               0.00         593.92
7       Paneer                203.36               0.00         203.36
8         Curd                949.12               0.00         949.12

In [231]:
# Define product types for each measurement
kg_products = ['cheese', 'curd', 'butter', 'paneer', 'yogurt']
liter_products = ['ghee', 'milk', 'lassi', 'Buttermilk', 'ice cream']

# Create new columns for quantity in liters and kg
df['Quantity Sold (liters)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(liter_products)),
    df['Quantity Sold (liters/kg)'],
    '-'
)
df['Quantity Sold (kg)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(kg_products)),
    df['Quantity Sold (liters/kg)'],
    '-'
)

# Replace '-' with np.nan or 0
df['Quantity Sold (liters)'] = pd.to_numeric(df['Quantity Sold (liters)'], errors='coerce').fillna(0)
df['Quantity Sold (kg)'] = pd.to_numeric(df['Quantity Sold (kg)'], errors='coerce').fillna(0)

# Optional: Display the first few rows to verify
df[['Product Name', 'Quantity Sold (liters/kg)', 'Quantity Sold (liters)', 'Quantity Sold (kg)']].head()

,Product Name,Quantity Sold (liters/kg),Quantity Sold (liters),Quantity Sold (kg)
1,Milk,558,558.0,0.0
4,Buttermilk,145,145.0,145.0
5,Curd,74,0.0,74.0
7,Paneer,15,0.0,15.0
8,Curd,860,0.0,860.0

In [232]:
# Define product types for each measurement
kg_products = ['cheese', 'curd', 'butter', 'paneer', 'yogurt']
liter_products = ['ghee', 'milk', 'lassi', 'Buttermilk', 'ice cream']

# Create new columns for quantity in liters and kg
df['Quantity in Stock (liters)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(liter_products)),
    df['Quantity in Stock (liters/kg)'],
    '-'
)
df['Quantity in Stock (kg)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(kg_products)),
    df['Quantity in Stock (liters/kg)'],
    '-'
)

# Replace '-' with np.nan or 0
df['Quantity in Stock (liters)'] = pd.to_numeric(df['Quantity in Stock (liters)'], errors='coerce').fillna(0)
df['Quantity in Stock (kg)'] = pd.to_numeric(df['Quantity in Stock (kg)'], errors='coerce').fillna(0)

# Optional: Display the first few rows to verify
df[['Product Name', 'Quantity in Stock (liters/kg)', 'Quantity in Stock (liters)', 'Quantity in Stock (kg)']].head()

,Product Name,Quantity in Stock (liters/kg),Quantity in Stock (liters),Quantity in Stock (kg)
1,Milk,129.48,129.48,0.00
4,Buttermilk,2.77,2.77,2.77
5,Curd,519.92,0.00,519.92
7,Paneer,188.36,0.00,188.36
8,Curd,89.12,0.00,89.12

In [233]:
# Define product types for each measurement
kg_products = ['cheese', 'curd', 'butter', 'paneer', 'yogurt']
liter_products = ['ghee', 'milk', 'lassi', 'Buttermilk', 'ice cream']

# Create new columns for quantity in liters and kg
df['Minimum Stock Threshold (liters)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(liter_products)),
    df['Minimum Stock Threshold (liters/kg)'],
    '-'
)
df['Minimum Stock Threshold (kg)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(kg_products)),
    df['Minimum Stock Threshold (liters/kg)'],
    '-'
)

# Replace '-' with np.nan or 0
df['Minimum Stock Threshold (liters)'] = pd.to_numeric(df['Minimum Stock Threshold (liters)'], errors='coerce').fillna(0)
df['Minimum Stock Threshold (kg)'] = pd.to_numeric(df['Minimum Stock Threshold (kg)'], errors='coerce').fillna(0)

# Optional: Display the first few rows to verify
df[['Product Name', 'Minimum Stock Threshold (liters/kg)', 'Minimum Stock Threshold (liters)', 'Minimum Stock Threshold (kg)']].head()

,Product Name,Minimum Stock Threshold (liters/kg),Minimum Stock Threshold (liters),Minimum Stock Threshold (kg)
1,Milk,43.17,43.17,0.00
4,Buttermilk,76.02,76.02,76.02
5,Curd,55.60,0.00,55.60
7,Paneer,10.90,0.00,10.90
8,Curd,85.71,0.00,85.71

In [234]:
# Define product types for each measurement
kg_products = ['cheese', 'curd', 'butter', 'paneer', 'yogurt']
liter_products = ['ghee', 'milk', 'lassi', 'Buttermilk', 'ice cream']

# Create new columns for quantity in liters and kg
df['Reorder Quantity (liters)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(liter_products)),
    df['Reorder Quantity (liters/kg)'],
    '-'
)
df['Reorder Quantity (kg)'] = np.where(
    df['Product Name'].str.lower().str.contains('|'.join(kg_products)),
    df['Reorder Quantity (liters/kg)'],
    '-'
)

# Replace '-' with np.nan or 0
df['Reorder Quantity (liters)'] = pd.to_numeric(df['Reorder Quantity (liters)'], errors='coerce').fillna(0)
df['Reorder Quantity (kg)'] = pd.to_numeric(df['Reorder Quantity (kg)'], errors='coerce').fillna(0)

# Optional: Display the first few rows to verify
df[['Product Name', 'Reorder Quantity (liters/kg)', 'Reorder Quantity (liters)', 'Reorder Quantity (kg)']].head()

,Product Name,Reorder Quantity (liters/kg),Reorder Quantity (liters),Reorder Quantity (kg)
1,Milk,181.10,181.1,0.00
4,Buttermilk,33.40,33.4,33.40
5,Curd,139.59,0.0,139.59
7,Paneer,25.14,0.0,25.14
8,Curd,32.03,0.0,32.03

In [235]:
# Remove the original 'Quantity (liters/kg)' column
df = df.drop(columns=['Quantity (liters/kg)', 'Reorder Quantity (liters/kg)', 'Reorder Quantity (liters/kg)', 'Quantity in Stock (liters/kg)', 'Quantity Sold (liters/kg)', 'Minimum Stock Threshold (liters/kg)'], errors='ignore')

In [236]:
df.loc[df['Product Name'].str.lower().str.contains('buttermilk'), 'Quantity (kg)'] = 0.0000

df[df['Product Name'].str.lower().str.contains('buttermilk')][['Product Name', 'Quantity (liters)', 'Quantity (kg)']]

     Product Name  Quantity (liters)  Quantity (kg)
4      Buttermilk             147.77            0.0
9      Buttermilk             385.64            0.0
18     Buttermilk             367.14            0.0
40     Buttermilk             801.25            0.0
50     Buttermilk             410.48            0.0
...           ...                ...            ...
4284   Buttermilk             842.70            0.0
4286   Buttermilk             201.30            0.0
4304   Buttermilk             781.11            0.0
4316   Buttermilk             877.57            0.0
4317   Buttermilk             250.96            0.0

[435 rows x 3 columns]

In [237]:
# Set Quantity Sold (kg) to 0.0000 for buttermilk rows
df.loc[df['Product Name'].str.lower().str.contains('buttermilk'), 'Quantity Sold (kg)'] = 0.0000

df[df['Product Name'].str.lower().str.contains('buttermilk')][['Product Name', 'Quantity Sold (liters)', 'Quantity Sold (kg)']]

     Product Name  Quantity Sold (liters)  Quantity Sold (kg)
4      Buttermilk                   145.0                 0.0
9      Buttermilk                   108.0                 0.0
18     Buttermilk                   309.0                 0.0
40     Buttermilk                   292.0                 0.0
50     Buttermilk                   141.0                 0.0
...           ...                     ...                 ...
4284   Buttermilk                   178.0                 0.0
4286   Buttermilk                   122.0                 0.0
4304   Buttermilk                   350.0                 0.0
4316   Buttermilk                   855.0                 0.0
4317   Buttermilk                   229.0                 0.0

[435 rows x 3 columns]

In [238]:
df.loc[df['Product Name'].str.lower().str.contains('buttermilk'), 'Quantity in Stock (kg)'] = 0.0000

df[df['Product Name'].str.lower().str.contains('buttermilk')][['Product Name', 'Quantity in Stock (liters)', 'Quantity in Stock (kg)']]

     Product Name  Quantity in Stock (liters)  Quantity in Stock (kg)
4      Buttermilk                        2.77                     0.0
9      Buttermilk                      277.64                     0.0
18     Buttermilk                       58.14                     0.0
40     Buttermilk                      509.25                     0.0
50     Buttermilk                      269.48                     0.0
...           ...                         ...                     ...
4284   Buttermilk                      664.70                     0.0
4286   Buttermilk                       79.30                     0.0
4304   Buttermilk                      431.11                     0.0
4316   Buttermilk                       22.57                     0.0
4317   Buttermilk                       21.96                     0.0

[435 rows x 3 columns]

In [239]:
df.loc[df['Product Name'].str.lower().str.contains('buttermilk'), 'Minimum Stock Threshold (kg)'] = 0.0000

df[df['Product Name'].str.lower().str.contains('buttermilk')][['Product Name', 'Minimum Stock Threshold (liters)', 'Minimum Stock Threshold (kg)']]

,Product Name,Minimum Stock Threshold (liters),Minimum Stock Threshold (kg)
4,Buttermilk,76.02,0.0
9,Buttermilk,93.61,0.0
18,Buttermilk,37.27,0.0
40,Buttermilk,46.12,0.0
50,Buttermilk,62.67,0.0
...,...,...,...
4284,Buttermilk,73.39,0.0
4286,Buttermilk,93.67,0.0
4304,Buttermilk,81.34,0.0
4316,Buttermilk,34.43,0.0
4317,Buttermilk,30.84,0.0

In [240]:
df.loc[df['Product Name'].str.lower().str.contains('buttermilk'), 'Reorder Quantity (kg)'] = 0.0000

df[df['Product Name'].str.lower().str.contains('buttermilk')][['Product Name', 'Reorder Quantity (liters)', 'Reorder Quantity (kg)']]

     Product Name  Reorder Quantity (liters)  Reorder Quantity (kg)
4      Buttermilk                      33.40                    0.0
9      Buttermilk                      66.26                    0.0
18     Buttermilk                      79.56                    0.0
40     Buttermilk                      32.45                    0.0
50     Buttermilk                      83.40                    0.0
...           ...                        ...                    ...
4284   Buttermilk                      47.02                    0.0
4286   Buttermilk                     102.75                    0.0
4304   Buttermilk                     160.21                    0.0
4316   Buttermilk                      54.45                    0.0
4317   Buttermilk                      39.60                    0.0

[435 rows x 3 columns]

In [241]:

drop_cols = ['Product ID', 'Price per Unit', 'Price per Unit (sold)', 'Approx. Total Revenue(INR)', 'Expiration Date', 'Total Value']
df = df.drop(columns=drop_cols, errors='ignore')
print('Columns:', df.columns.tolist())

Columns: ['Date', 'Product Name', 'Brand', 'Shelf Life (days)', 'Production Date', 'Customer Location', 'Sales Channel', 'Quantity (liters)', 'Quantity (kg)', 'Quantity Sold (liters)', 'Quantity Sold (kg)', 'Quantity in Stock (liters)', 'Quantity in Stock (kg)', 'Minimum Stock Threshold (liters)', 'Minimum Stock Threshold (kg)', 'Reorder Quantity (liters)', 'Reorder Quantity (kg)']

In [242]:
# Convert Date column to datetime (if not already done)
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d', errors='coerce')
df['Production Date'] = pd.to_datetime(df['Production Date'], format='%Y-%m-%d', errors='coerce')

# Convert Date column to datetime (if not already done)
# df['Production Date'] = df['Production Date'].str.strip()
# df['Production Date'] = pd.to_datetime(df['Production Date'], format='%d-%m-%Y', errors='coerce')

# Exploratory Data Analysis (EDA)
Visualize key trends and patterns in the data to understand demand and inventory behavior.

In [243]:
# List of dates to remove
dates_to_remove = ['2022-12-28', '2019-01-01']
dates_to_remove = pd.to_datetime(dates_to_remove)

# Remove rows with those dates
df = df[~df['Date'].isin(dates_to_remove)]

# Optional: confirm removal
print("âœ… Dates removed. Remaining rows:", len(df))

âœ… Dates removed. Remaining rows: 3386

In [244]:
# one hot encode 'Brand' column
df = pd.get_dummies(df, columns=['Brand'], prefix='Brand')

# one hot encode 'Product Name' column
df = pd.get_dummies(df, columns=['Product Name'], prefix='Product Name')

# one hot encode 'Customer Location' column
df = pd.get_dummies(df, columns=['Customer Location'], prefix='Customer Location')
# one hot encode 'Sales Channel' column
df = pd.get_dummies(df, columns=['Sales Channel'], prefix='Sales Channel')

# Convert all boolean columns to integers (0/1)
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

# Feature Engineering and Train-Test Split
Select relevant features and split the data into training and testing sets for model development.

In [245]:
import numpy as np
from sklearn.model_selection import train_test_split

# Step 1: Select only numeric features and drop target columns
features = df.select_dtypes(include=[np.number]).drop(
    columns=['Quantity Sold (liters)', 'Quantity Sold (kg)', 'Minimum Stock Threshold (kg)', 'Minimum Stock Threshold (liters)'],
    errors='ignore'
)


# Step 2: Define the target (multi-output)
target = df[['Quantity Sold (liters)', 'Quantity Sold (kg)']]  # double brackets for DataFrame

# Step 3: Train-test split
X_train, X_test, y_train, y_test = train_test_split(features,df[['Quantity Sold (liters)', 'Quantity Sold (kg)']],test_size=0.2,random_state=42)

# Step 4: Print shape summary
print('Train shape:', X_train.shape)
print('Test shape:', X_test.shape)

Train shape: (2708, 39)
Test shape: (678, 39)

# Model Training
Train a Random Forest Regressor to predict demand based on selected features.

In [246]:
# Model Training
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
print('Model training complete.')

Model training complete.

# Model Evaluation
Evaluate the model's performance using RMSE and RÂ² metrics.

In [247]:
y_pred = model.predict(X_test)
for i, col in enumerate(y_test.columns):
    r2 = r2_score(y_test.iloc[:, i], y_pred[:, i])
    print(f"{col} â†’ RÂ² = {r2:.3f}")

Quantity Sold (liters) â†’ RÂ² = 0.998
Quantity Sold (kg) â†’ RÂ² = 0.998

# Demand Forecasting and Inventory Optimization
Use the trained model to forecast future demand and optimize inventory levels accordingly.

In [248]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor

# Example X_train, y_train
model = MultiOutputRegressor(RandomForestRegressor())
model.fit(X_train, y_train)

import pickle
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [249]:
df.head()

,Date,Shelf Life (days),Production Date,Quantity (liters),Quantity (kg),Quantity Sold (liters),Quantity Sold (kg),Quantity in Stock (liters),Quantity in Stock (kg),Minimum Stock Threshold (liters),...,Customer Location_Madhya Pradesh,Customer Location_Maharashtra,Customer Location_Rajasthan,Customer Location_Tamil Nadu,Customer Location_Telangana,Customer Location_Uttar Pradesh,Customer Location_West Bengal,Sales Channel_Online,Sales Channel_Retail,Sales Channel_Wholesale
1,2021-12-01,22,2021-10-03,687.48,0.00,558.0,0.0,129.48,0.00,43.17,...,0,0,0,0,0,0,0,0,0,1
4,2020-12-14,11,2020-10-17,147.77,0.00,145.0,0.0,2.77,0.00,76.02,...,0,0,0,0,0,0,0,0,1,0
5,2019-01-07,5,2019-01-03,0.00,593.92,0.0,74.0,0.00,519.92,0.00,...,0,0,0,0,0,0,0,0,1,0
7,2019-02-14,14,2019-01-06,0.00,203.36,0.0,15.0,0.00,188.36,0.00,...,0,0,0,0,0,0,0,1,0,0
8,2020-08-02,6,2020-06-06,0.00,949.12,0.0,860.0,0.00,89.12,0.00,...,0,0,0,0,0,0,0,0,0,1